<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WAFMetaComparator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <WAFMetaComparator.Properties.Settings>
            <setting name="FirstColor" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="SecondColor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="CommonColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="AutoNavigateSelectedRow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCurrentCellContentOnForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DifferColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="AbsentColor" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="LoadCellToWordPad" serializeAs="String">
                <value>True</value>
            </setting>
        </WAFMetaComparator.Properties.Settings>
    </userSettings>
</configuration>
