<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="CustomizationsComparator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="CustomizationsComparator.comparatorToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="firstXML" value="firstCustomizations.xml"/>
		<add key="secondXML" value="secondCustomizations.xml"/>
	</appSettings>
 <userSettings>
  <CustomizationsComparator.Properties.Settings>
   <setting name="FirstColor" serializeAs="String">
    <value>255, 224, 192</value>
   </setting>
   <setting name="SecondColor" serializeAs="String">
    <value>192, 255, 255</value>
   </setting>
   <setting name="CommonColor" serializeAs="String">
    <value>WhiteSmoke</value>
   </setting>
   <setting name="AutoNavigateSelectedRow" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowCurrentCellContentOnForm" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DifferColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="AbsentColor" serializeAs="String">
    <value>128, 128, 255</value>
   </setting>
   <setting name="LoadCellToWordPad" serializeAs="String">
    <value>False</value>
   </setting>
  </CustomizationsComparator.Properties.Settings>
  <CustomizationsComparator.comparatorToolSettings>
   <setting name="FirstColor" serializeAs="String">
    <value>255, 192, 128</value>
   </setting>
   <setting name="SecondColor" serializeAs="String">
    <value>128, 255, 128</value>
   </setting>
   <setting name="CommonColor" serializeAs="String">
    <value>Teal</value>
   </setting>
  </CustomizationsComparator.comparatorToolSettings>
 </userSettings>
</configuration>